.mainContainer{
    background-color: var(--blue);
    border: var(--blue) 1px solid;
    display: flex;
}
.test{
    height: 100%;
    width: 60%;
    border-top: 70px solid #fff;
    border-right: 100px solid transparent;
}
.contactButton{
    background-color: var(--blue);
    border: #fff solid 1px;
    color: #fff !important;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    align-self: center;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .test{
        display: none;
    }
    .mainContainer{
        justify-content: center;
    }
    .container{
        padding:10px;
        z-index: 2;
    }
  }
