.menuContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}
.menu{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
  }
