.container{
    display: flex;
    margin: 7% 10%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container select{
    background-color: #80A5D6;
    padding: 5px;
    border-radius: 5px;
}

.container input{
    background-color: #80A5D6;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px var(--blue);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.message textarea{
    margin:0px;
    width: 100%;
    height: 120px;
    background-color: #80A5D6;
    padding: 5px;
    border-radius: 5px;
}

.disable{
    display: none;
}

.span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.span > input{
    background-color: #80A5D6;
    cursor: pointer;
}